
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: rgb(255, 221, 221);
    transition: transform 0.3s ease-in; 
    font-family: 'Fira Sans',sans-Serif;
    height: 100vh;
    position: absolute;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a{
   text-decoration: none;
   color: rgb(0, 0, 0);
}
.main{
    background-color: rgb(255, 255, 255);
    width: 90vw;
}
.container{
    display: flex;
}

.hello{
    font-size: 3em;
}

.info-container{
    background-color: rgb(255, 255, 255);
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.name{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Fira Sans',sans-Serif;
}
.moreabout{
    font-size: 2em;
    font-family: 'Fira Sans',sans-Serif ;
    margin-top: 23px;
}
.buttons{
    margin-top: 34px;
    font-size: 16px;
}
.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: aliceblue;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 2em;
    margin: 3px 3px;
    cursor: pointer;
}
.btn-sm{
    padding: 7px 13px;
    font-size: 10px;
    margin: 10px 0;
    
}
.btn:hover{
    background-color: rgb(255, 255, 255);
    color: dodgerblue;
}



.about{
    font-size: 2.5em;
}




#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

 h1{
    font-family: 'Fira Sans',sans-Serif ;
    margin: 21px;
}
 p{
    font-family: 'Fira Sans',sans-Serif ;
}
.intro{
    margin: 88px;
}
.intro h2{
    font-family: 'Source Sans Pro',monospace ;   
    margin: 12px;
}
.intro p{
    font-family: 'Fira Sans',sans-Serif ;   
    margin: 12px;

}
.skill{
    width: 23px;
    height: 23px;
    background-color: red;
    border: 2px solid black;
}
.skillcontainer{
    padding: 12px;
}
.skillitem{
    display: flex;
    align-items: center;
    font-family:  'Source Sans Pro',monospace ;
    font-weight: 900;
}
.hundred{
    width: 165px;
    background-color: aqua;
}
.ninety{
    width: 165px;
    background-color: rgb(128, 0, 255);
}
.eighty{
    width: 125px;
    background-color: rgb(187, 255, 0);
}
.fifty{
    width: 125px;
    background-color: blue;
}
.forty{
    width: 100px;
    background-color: rgb(255, 0, 38);

}
.t5{
    width: 100px;
    background-color: rgb(59, 0, 113);
}
.sidebargo{
    transform: translate(-443px,0px);
    position: absolute;
   }

.hamburger{
    position: absolute;
    cursor:pointer;
    top: 10px;
    left: 10px;
}
.ham{
    margin-top: 10px;
    margin-left: 10px;
}
.cross{
    margin-left: 185px;
    margin-top: 10px;
    
}
.links{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
@media(max-width: 1615px) {
    *{
    /*background-color: red;*/
    }
    /*.devpic{
        display: none;
    }*/
    /*
    .sidebar{
        transform:  translate(-443px,0px);
        position: absolute;
    */
    .intro{
        margin: 50px 8px;
    }
  
    .buttons{
        font-size: 6px;
    }
}